.chosen-select {
    margin-bottom: 30px;
}

.contain1 {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
    border: 3px solid black;
}

body {
    background-color: lightblue;
}

.jumbotron {
    margin-top: 20px;
    background-color: blanchedalmond;
    border: 3px solid black;

}